@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

html,body{
    
    
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

nav#menu{
    
    width: 100vw;
    background-color: #212529;
    display: flex;
    justify-content: center;
    

}

#menu ul{
    
    list-style: none;
    display: inline;
    padding: .5vw;
    
}
#menu ul a li{

    
    color: rgba(255, 255, 255, 0.671);
    font-family: 'Poppins', sans-serif;
    
    display: inline;
    padding: 3vw;
    transition: .2s ease-out;

}

#menu ul a li:hover{
    
    color: #fff;

}
section{

    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(#e9ecef,#212529); */
    
}
